a {
    color: #F67D6F;
}
a:hover, a:focus {
    color: #F67D6F;
}

.navbar-default .navbar-brand {
    color: #F67D6F;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #F67D6F;

}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #F67D6F;
}
