a {
    color: #F67D6F;
}
a:hover, a:focus {
    color: #F67D6F;
}

.navbar-default .navbar-brand {
    color: #F67D6F;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #F67D6F;

}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #F67D6F;
}


.repo a{background:#0091ea}.palette-accent-cyan .article a:focus,.palette-accent-cyan .article a:hover{color:#F67D6F}.palette-accent-cyan .repo a{background:#546E7A}.palette-accent-teal .article a:focus,.palette-accent-teal .article a:hover{color:#F67D6F}.palette-accent-teal